<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koalaIT.common.mapper.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.koalaIT.common.model.Collect" >
    <id column="collect_check" property="collectCheck" jdbcType="INTEGER" />
    <result column="collect_state" property="collectState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    collect_check, collect_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.koalaIT.common.model.CollectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where collect_check = #{collectCheck,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where collect_check = #{collectCheck,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.koalaIT.common.model.CollectExample" >
    delete from collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.koalaIT.common.model.Collect" >
    insert into collect (collect_check, collect_state)
    values (#{collectCheck,jdbcType=INTEGER}, #{collectState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.koalaIT.common.model.Collect" >
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectCheck != null" >
        collect_check,
      </if>
      <if test="collectState != null" >
        collect_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectCheck != null" >
        #{collectCheck,jdbcType=INTEGER},
      </if>
      <if test="collectState != null" >
        #{collectState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.koalaIT.common.model.CollectExample" resultType="java.lang.Integer" >
    select count(*) from collect
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update collect
    <set >
      <if test="record.collectCheck != null" >
        collect_check = #{record.collectCheck,jdbcType=INTEGER},
      </if>
      <if test="record.collectState != null" >
        collect_state = #{record.collectState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update collect
    set collect_check = #{record.collectCheck,jdbcType=INTEGER},
      collect_state = #{record.collectState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.koalaIT.common.model.Collect" >
    update collect
    <set >
      <if test="collectState != null" >
        collect_state = #{collectState,jdbcType=VARCHAR},
      </if>
    </set>
    where collect_check = #{collectCheck,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.koalaIT.common.model.Collect" >
    update collect
    set collect_state = #{collectState,jdbcType=VARCHAR}
    where collect_check = #{collectCheck,jdbcType=INTEGER}
  </update>
</mapper>