<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koalaIT.common.mapper.HunterMapper" >
  <resultMap id="BaseResultMap" type="com.koalaIT.common.model.Hunter" >
    <id column="hunter_id" property="hunterId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="VARCHAR" />
    <result column="hunter_detail" property="hunterDetail" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="hunter_state" property="hunterState" jdbcType="BIT" />
    <result column="hunter_title" property="hunterTitle" jdbcType="VARCHAR" />
    <result column="work_time" property="workTime" jdbcType="VARCHAR" />
    <result column="daily_wage" property="dailyWage" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="orderboss" property="orderboss" jdbcType="INTEGER" />
    <result column="checkstate" property="checkstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hunter_id, user_id, capacity, hunter_detail, salary, company, hunter_state, hunter_title, 
    work_time, daily_wage, img_url, create_time, orderboss, checkstate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.koalaIT.common.model.HunterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hunter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hunter
    where hunter_id = #{hunterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hunter
    where hunter_id = #{hunterId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.koalaIT.common.model.HunterExample" >
    delete from hunter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.koalaIT.common.model.Hunter" >
    insert into hunter (hunter_id, user_id, capacity, 
      hunter_detail, salary, company, 
      hunter_state, hunter_title, work_time, 
      daily_wage, img_url, create_time, 
      orderboss, checkstate)
    values (#{hunterId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{capacity,jdbcType=VARCHAR}, 
      #{hunterDetail,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{hunterState,jdbcType=BIT}, #{hunterTitle,jdbcType=VARCHAR}, #{workTime,jdbcType=VARCHAR}, 
      #{dailyWage,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{orderboss,jdbcType=INTEGER}, #{checkstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.koalaIT.common.model.Hunter" >
    insert into hunter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hunterId != null" >
        hunter_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="hunterDetail != null" >
        hunter_detail,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="hunterState != null" >
        hunter_state,
      </if>
      <if test="hunterTitle != null" >
        hunter_title,
      </if>
      <if test="workTime != null" >
        work_time,
      </if>
      <if test="dailyWage != null" >
        daily_wage,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderboss != null" >
        orderboss,
      </if>
      <if test="checkstate != null" >
        checkstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hunterId != null" >
        #{hunterId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="hunterDetail != null" >
        #{hunterDetail,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="hunterState != null" >
        #{hunterState,jdbcType=BIT},
      </if>
      <if test="hunterTitle != null" >
        #{hunterTitle,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="dailyWage != null" >
        #{dailyWage,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="orderboss != null" >
        #{orderboss,jdbcType=INTEGER},
      </if>
      <if test="checkstate != null" >
        #{checkstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.koalaIT.common.model.HunterExample" resultType="java.lang.Integer" >
    select count(*) from hunter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hunter
    <set >
      <if test="record.hunterId != null" >
        hunter_id = #{record.hunterId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.capacity != null" >
        capacity = #{record.capacity,jdbcType=VARCHAR},
      </if>
      <if test="record.hunterDetail != null" >
        hunter_detail = #{record.hunterDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.hunterState != null" >
        hunter_state = #{record.hunterState,jdbcType=BIT},
      </if>
      <if test="record.hunterTitle != null" >
        hunter_title = #{record.hunterTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.workTime != null" >
        work_time = #{record.workTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dailyWage != null" >
        daily_wage = #{record.dailyWage,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.orderboss != null" >
        orderboss = #{record.orderboss,jdbcType=INTEGER},
      </if>
      <if test="record.checkstate != null" >
        checkstate = #{record.checkstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hunter
    set hunter_id = #{record.hunterId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=VARCHAR},
      hunter_detail = #{record.hunterDetail,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      hunter_state = #{record.hunterState,jdbcType=BIT},
      hunter_title = #{record.hunterTitle,jdbcType=VARCHAR},
      work_time = #{record.workTime,jdbcType=VARCHAR},
      daily_wage = #{record.dailyWage,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      orderboss = #{record.orderboss,jdbcType=INTEGER},
      checkstate = #{record.checkstate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.koalaIT.common.model.Hunter" >
    update hunter
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="hunterDetail != null" >
        hunter_detail = #{hunterDetail,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="hunterState != null" >
        hunter_state = #{hunterState,jdbcType=BIT},
      </if>
      <if test="hunterTitle != null" >
        hunter_title = #{hunterTitle,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        work_time = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="dailyWage != null" >
        daily_wage = #{dailyWage,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="orderboss != null" >
        orderboss = #{orderboss,jdbcType=INTEGER},
      </if>
      <if test="checkstate != null" >
        checkstate = #{checkstate,jdbcType=INTEGER},
      </if>
    </set>
    where hunter_id = #{hunterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.koalaIT.common.model.Hunter" >
    update hunter
    set user_id = #{userId,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=VARCHAR},
      hunter_detail = #{hunterDetail,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      hunter_state = #{hunterState,jdbcType=BIT},
      hunter_title = #{hunterTitle,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=VARCHAR},
      daily_wage = #{dailyWage,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      orderboss = #{orderboss,jdbcType=INTEGER},
      checkstate = #{checkstate,jdbcType=INTEGER}
    where hunter_id = #{hunterId,jdbcType=INTEGER}
  </update>
  <select id="getHunterByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select hunter.*,`user`.user_name
    <!--  <include refid="Base_Column_List" />-->
    from koalait.user join koalait.hunter on hunter.user_id=`user`.user_id
    where hunter.user_id=`user`.user_id and `user`.user_id=#{userId,jdbcType=INTEGER}
  </select>
  <select id="findHunterInfoByOrder" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select hunter.*,hunterconnect.`check`,checkconnect.state
    <!--  <include refid="Base_Column_List" />-->
    from koalait.hunter,koalait.hunterconnect,koalait.checkconnect
    where hunter.hunter_id=hunterconnect.hunter_id and checkconnect.`check`=hunterconnect.`check` and hunterconnect.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getHunterInfoByOrder" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from koalait.hunter,koalait.user
    where orderboss IS not NULL and hunter.user_id=`user`.user_id and `user`.user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>