<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.koalaIT.common.mapper.SysLogMapper" >
  <resultMap id="BaseResultMap" type="com.koalaIT.common.model.SysLog" >
    <id column="LogID" property="logid" jdbcType="INTEGER" />
    <id column="IE" property="ie" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="IP_Address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="OS" property="os" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="DATE" />
    <result column="log_content" property="logContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LogID, IE, user_id, IP_Address, OS, CreateDate, log_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.koalaIT.common.model.SysLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.koalaIT.common.model.SysLogKey" >
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where LogID = #{logid,jdbcType=INTEGER}
      and IE = #{ie,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.koalaIT.common.model.SysLogKey" >
    delete from sys_log
    where LogID = #{logid,jdbcType=INTEGER}
      and IE = #{ie,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.koalaIT.common.model.SysLogExample" >
    delete from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.koalaIT.common.model.SysLog" >
    insert into sys_log (LogID, IE, user_id, 
      IP_Address, OS, CreateDate, 
      log_content)
    values (#{logid,jdbcType=INTEGER}, #{ie,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{ipAddress,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE}, 
      #{logContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.koalaIT.common.model.SysLog" >
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        LogID,
      </if>
      <if test="ie != null" >
        IE,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ipAddress != null" >
        IP_Address,
      </if>
      <if test="os != null" >
        OS,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="logContent != null" >
        log_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="ie != null" >
        #{ie,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="logContent != null" >
        #{logContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.koalaIT.common.model.SysLogExample" resultType="java.lang.Integer" >
    select count(*) from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_log
    <set >
      <if test="record.logid != null" >
        LogID = #{record.logid,jdbcType=INTEGER},
      </if>
      <if test="record.ie != null" >
        IE = #{record.ie,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.ipAddress != null" >
        IP_Address = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.os != null" >
        OS = #{record.os,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=DATE},
      </if>
      <if test="record.logContent != null" >
        log_content = #{record.logContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_log
    set LogID = #{record.logid,jdbcType=INTEGER},
      IE = #{record.ie,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      IP_Address = #{record.ipAddress,jdbcType=VARCHAR},
      OS = #{record.os,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=DATE},
      log_content = #{record.logContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.koalaIT.common.model.SysLog" >
    update sys_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        IP_Address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        OS = #{os,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="logContent != null" >
        log_content = #{logContent,jdbcType=VARCHAR},
      </if>
    </set>
    where LogID = #{logid,jdbcType=INTEGER}
      and IE = #{ie,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.koalaIT.common.model.SysLog" >
    update sys_log
    set user_id = #{userId,jdbcType=INTEGER},
      IP_Address = #{ipAddress,jdbcType=VARCHAR},
      OS = #{os,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=DATE},
      log_content = #{logContent,jdbcType=VARCHAR}
    where LogID = #{logid,jdbcType=INTEGER}
      and IE = #{ie,jdbcType=VARCHAR}
  </update>
</mapper>